body   {
    margin: 0;
    padding: 0;
  }
  
  body * {
    font-family: Arial,
    Helvetica, sans-serif;
  }
  
  @media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
      padding-left: 140px !important;
    }
  }

  .list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  

  .btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
  .bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
  }
  .list-group-item {
    --bs-list-group-border-color: gray;
  }
  .wd-lesson {
    border-left: 3px solid green !important;
  }
  
  
  .wd-search-wrapper {
    position: relative;
    width: 300px;
  }
  
  .wd-search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none; 
  }
  
  .wd-search-input {
    padding-left: 40px !important; 
  }

  .wd-nav-link.active {
  color: black !important;
  text-decoration: none;
  background-color: transparent !important;
  position: relative; 
  padding-left: 12px; 
}

.wd-nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;       
  background-color: black;
}

.wd-nav-link.inactive {
  color: var(--bs-danger) !important;
  text-decoration: none;
  background-color: transparent !important;
  padding-left: 12px; 
}

.wd-nav-link.active,
.wd-nav-link.inactive {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}